body{
    background-image: url("bg.jpg");
    background-size: cover;
    
}
p {
    color: black;
    margin-left: 20px;
    font-size: 30px;
    text-align: center;
   
  }
  #tudo{
    
    size: 90%;
    
  }
  #btn_enviar{
    margin-left: 50%;
    font-size: 30px;
  }
  #parcelas_op{
    float: inline-end;
  }
  #formulario{
    margin: 20%;
    margin-top: 50px;
    background-color: darkgray;
   
  }
